:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
}

html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    /* background: var(--accent-gradient); */
}

* {
    box-sizing: border-box;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
