---
import Header from '../layouts/Header.astro'
import Footer from '../layouts/Footer.astro'
import '../styles/global.css'

interface Props {
  pageTitle: string
}

const { pageTitle } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <script>
      import '../scripts/menu.js'
    </script>
  </body>
</html>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
